<html>

<head></head>

<body>
    <form method="post">
        <label for="time">Čas: </label>
        <input type="time" value="{{time}}" name="time" />
        <button>Uložit</button>
    </form>

    Zbylý čas (±5 min): <span>{{remaining}}</span>
</body>

</html>